include ez_setup.py sensorapp.py flaskapp.py setup.py flaskapis.wsgi \
  application.ini requirements.txt BUILD.rst LICENSE.rst README.rst SETUP.rst
recursive-include db *.sql
recursive-include rgapps *.py
